/* Center all section on the center of the screen */
#main-wrapper, #question-section, #result-section, #answer-alert, #scores-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* Makes all h2 tags bolder*/
h2 {
    font-weight: bolder;
}

/* Style the View highscores button */
#view-highscores {
    display: flex;
    justify-content: flex-start;
    float: left;
    margin: 20px;
    color: rebeccapurple;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
}

/* Style timer label */
#timer {
    display: flex;
    justify-content: flex-end;
    float: right;
    font-size: 20px;
    margin: 20px;
}

/* Center the text on the home section */
#home-section {
    text-align: center;
}

/* Style all remaining buttons */
#start-button, .answer-button1, 
.answer-button2, .answer-button3, 
.answer-button4,  #submit-button, 
#back-button, #clear-button{
    color: white;
    background-color: rebeccapurple;
    border-radius: 10px;
    margin: 5px;
}

/* Style each list item on the Highscores section */
#highscores-list li {
    background-color: #a67dc8;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}
